.App {
  text-align: center;
  background-image: url("medical_background_dark.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h-100{
  text-align: center;
  background-image: url("medical_background_dark.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  display: -webkit-box !important;
}

.outer-area{
  margin: 15px;
  background: rgba(255, 255, 255, 0.3);
  padding: 30px;
}

.file-upload-input{
  display: none;
}

.file-upload-image{
  width: 500px;
}

.custom-file-upload{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px solid;
  margin: 15.7% 0;
}

.custom-file-upload:hover{
  color: #ffffff;
  background-color: #222;
  border: 1px solid #222;
}

.aligncenter{
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.process-btn{
  margin-top: 5px;
  border: 1px solid !important;
  margin-bottom: 8%;
}

.process-btn:hover{
  color: #ffffff !important;
  background-color: #222;
  border: 1px solid #222 !important;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.customImage{
  width: inherit;
}

.custom-textarea{
  width: inherit;
  padding: 25px;
  text-align: center;
  border: 1px solid darkgrey;
  margin-top: 23%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
